.art-container {
  padding: 0 20rpx;
  height: 100%;
  overflow-y: hidden;

  .header {
    padding: 20rpx 0;
  }

  .title {
    font-size: 28rpx;
    font-weight: 700;
    text-align: center;
    color: #666;
    padding: 20rpx;
  }

  .thuor {
    font-size: 24rpx;
    color: #999;
    text-align: center;
    padding-bottom: 12rpx;
    border-bottom: 1px #eee solid;

    text {
      margin: 0 10rpx;
    }
  }

  .section {
    height: 100%;
    flex-grow: 9999;
    overflow-y: hidden;
  }
  scroll-view {
    padding-bottom: 60rpx;
  }
  .wxParse-p:last-child {
    padding-bottom: 300rpx;
  }

  .video-class{
    width: 100%;
  }

  .section-title{
    font-size: 26rpx;
    padding: 20rpx;
  }

  .section-input{
    border:2rpx #dedede solid;
    border-radius: 8rpx;
    padding: 12rpx;
  }

  .btn-area{
    margin: 40rpx 0;
  }

  .submit{
    background: #1779b8;
    color: #ffffff;
    margin-bottom: 40rpx;
  }

  textarea{
    width: 290px;
    border:2rpx #dedede solid;
    border-radius: 8rpx;
    height: 200rpx;
    padding: 12rpx;
  }
}
